.header .logo a, .header.sticky .logo a {
    width: 300px;
}

.text-logo {
    width: 300px;
    font-size: 30px;
    font-weight: bold;
}

#concert {
    padding-top: 50px;
    padding-bottom: 80px;
}

#concert h3 {
    margin-bottom: 40px;
}

#concert .container {
    padding: 0;
}

.concert-item {
    display: inline-block;
    width: 45%;
}

.concert-image {
    width: 200px;
    margin-right: 20px;
    display: inline-block;
}

.concert-info-block {
    display: inline-block;
    vertical-align: middle;
}
